<section class="main" *ngIf="visibleTodosLength$ | async">
  <input type="checkbox" class="toggle-all" #toggleall [checked]="isAllCompleted$ | async" (click)="toggleAll(toggleall.checked)">
  <ul class="todo-list">
    <todo-item 
      *ngFor="let todo of visibleTodos$ | async"
      [todo]="todo"
      (handleToggle)="toggle($event)"
      (handleRemove)="remove($event)"
      (handleModify)="update($event)"
    >
    </todo-item>
  </ul>
</section>